include layout
    div(style='position: relative;padding: 44px;width: 35%;left: 31%;top: 222px;')
        h1(style='margin-left: 22%;') Авторизация
        div#content(style='margin-left: 22%;')
    script(type='text/javascript' src='/client/bundle.js')