nav.navbar.navbar-light.bg-faded
    h1.navbar-brand Holland
    ul.nav.navbar-nav
        case path
            when 'index'
                li.nav-item.active
                    a.nav-link(href='/index')
                        | Главная страница
                        span.sr-only (current)
            default
                li.nav-item
                    a.nav-link(href='/index')
                        | Главная страница
                        span.sr-only (current)
        li.nav-item
            a.nav-link(href='#') База знаний
        li.nav-item
            a.nav-link(href='/training') Тренинги
        case path
            when 'testing'
                li.nav-item.active
                    a.nav-link(href='/testing') Тестирование
            default
                li.nav-item
                    a.nav-link(href='/testing') Тестирование
        li.nav-item
            form.form-inline
                input.form-control(type='text', placeholder='Поиск')
                button.btn.btn-outline-success(type='submit') Найти
        li.nav-item.pull-xs-right
            a.nav-link(href='/logout') Выйти