//include layout
//    .container
//        h1=thema.name
//        for question in test
//            p=question.name
//            for answearTest in answear
//                ul
//                    li
//                        input(type='radio' name=answearTest)
//                        | #{answearTest[0].text}
                        // - console.log(answearTest)